<p id="notice"><%= notice %></p>

<h1>Short Goals</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Detail</th>
      <th>Experience</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @short_goals.each do |short_goal| %>
      <tr>
        <td><%= short_goal.title %></td>
        <td><%= short_goal.detail %></td>
        <td><%= short_goal.experience %></td>
        <td><%= link_to 'Show', short_goal %></td>
        <td><%= link_to 'Edit', edit_short_goal_path(short_goal) %></td>
        <td><%= link_to 'Destroy', short_goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Short Goal', new_short_goal_path %>
