<p id="notice"><%= notice %></p>

<h1>Short Term Goals</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Detail</th>
      <th>Experience</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @short_term_goals.each do |short_term_goal| %>
      <tr>
        <td><%= short_term_goal.title %></td>
        <td><%= short_term_goal.detail %></td>
        <td><%= short_term_goal.experience %></td>
        <td><%= short_term_goal.image %></td>
        <td><%= link_to 'Show', short_term_goal %></td>
        <td><%= link_to 'Edit', edit_short_term_goal_path(short_term_goal) %></td>
        <td><%= link_to 'Destroy', short_term_goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Short Term Goal', new_short_term_goal_path %>
